
        /*HEADER*/
.header{
    margin-top: 200px;
    text-align: center;
    
}
.style-header{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight:600;
}
.style-header:after{
    content: '';
    display: block;
    width: 64px;
    height: 2px;
    background-color: orange;
    margin: 30px auto;
    border-radius: 50px;
}

.text-font{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.container-images{
    
    display: flex;
    justify-content: space-around;
    margin: 100px 300px 0px 300px;
    text-align: center;
}

.circle{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 3px solid orange;
    padding: 10px;
}




       /* CARTES  */
.container-cartes{
    width: auto;
    height: 884px;
    background-color: rgb(235, 235, 235);
    margin-top: 100px;
    ;

}
.pricing{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.style-pricing{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    margin-top: 107px;
    font-weight:600;
}

.style-pricing:after{
    content: '';
    display: block;
    width: 64px;
    height: 2px;
    background-color: orange;
    margin: 30px auto;
    border-radius: 50px;
    margin-block-end: 0px;
    
}

.text-pricing{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.block-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.cards{
    list-style: none;
    padding-inline-start: 0px;
}

li{
    display: block;
    border-bottom: 0.1px solid rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40px;
    background-color:white;
    color: rgb(150, 150, 155);
    font-size: 14px;
}

.basic{
    background-color: #292F2F;
    color: white;
    height: 59px;
    font-size: 20px;
    border-bottom: 1px solid white;
}

.price-cards{
    background-color:#292F2F ;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-bottom: 1px solid white;
    height: 100px;
}

.dollar{
    color: white;
    font-size: 35px;
    font-weight:600;
}

.dollar-figure{
    color: white;
    font-size: 95px;
}

.monthly-payement{
    width: 343px;
    height: 51px;
    background-color: #292F2F;
    color:rgb(192, 187, 187) ;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 5px solid orange;
}
#monthly{
    background-color:  #292F2F;
    color: rgb(192, 187, 187);
    font-family: 'Open Sans', sans-serif;
    width: 343px;
    height: 51px;
}
.our-font-orange{
    width: 343px;
    height: 40px;
    background-color: orange;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

 


        /*    CONTAINER STYLISH    */
.container-stylish{
    width: 100%;
    height: 350px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url("../images/street.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.style-text{
    color: white;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    opacity: 0.9;
    margin-block-start: 0px;
    padding-top: 76px;
    font-weight:600;
}

.style-text:after{
    content: '';
    display: block;
    width: 74px;
    height: 2px;
    background-color: white;
    margin: 30px auto;
    border-radius: 50px;
}

.style-text-paragraphly{
    color: white;
    margin:35px 0px 40px 0px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    opacity: 0.6;
}

.white-button{
    color: white;
    border: 2px solid white;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
}
.white-button:hover{
    color: rgb(32, 32, 21);
}  
        



/*   FOOTER   */
.footer{
    height: 110px;
    width: 100%;
    background: black;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.button-image{
    width: 45px;
    height: 40px;
    padding-left: 15px;
    margin-top: 40px;
}

.rights{
    color: white;
    opacity: 0.5;
}